include README.md
include LONG_DESC.txt
include CHANGES.rst
include LICENSE.txt
include ROADMAP.rst
include CITATION
include ginga.desktop

include setup.cfg
include pyproject.toml

recursive-include *.pyx *.c *.pxd
recursive-include doc *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *
recursive-include experimental *

prune build
prune doc/_build
prune doc/api

global-exclude *.pyc *.o
