#
# Image channel preferences file
#
# Place this in file under ~/.ginga with the name "channel_Image.cfg" for
# channel name "Image". This file WILL BE OVERWRITTEN by the Preferences
# plugin (see below). NOT ALL PARAMETERS IN GUI CAN BE ADJUSTED HERE.
#
# Alternately, the settings can be adjusted via Preferences local plugin
# within Ginga. NOT ALL PARAMETERS CAN BE ADJUSTED VIA GUI but users can
# normally ignore the hidden ones.
#

# ---------------
# Color Distribution

color_algorithm = 'linear'

# ---------------
# Color Mapping

color_map = 'gray'
intensity_map = 'ramp'

# In most cases, with the default value of the hash size as high as it is and
# the limitation of current displays, there is no need for the user to set this
# value.
#
# As the hash size grows smaller, and depending on the values in the image, the
# cut levels, and the color distribution algorithm (linear, log, etc.), distinct
# image values will be hashed into the same buckets, so subtle gradations could
# show up as posterization in the image, especially with the standard rgbmapper
# mapping to 24 bpp displays.
#
color_hashsize = 65535

# ---------------
# Auto Cuts
#
# Stores parameters specific to the chosen autocut_method. For example:
#   autocut_method = 'histogram'
#   autocut_params = [('usecrop', True), ('numbins', 2048), ('pct', 0.993)]
#
autocut_method = 'zscale'
autocut_params = []
cuts = (0.0, 0.0)

# ---------------
# Transform

flip_x = False
flip_y = False
swap_xy = False
rot_deg = 0.0

# ---------------
# WCS

wcs_coords = 'icrs'
wcs_display = 'sexagesimal'

# ---------------
# Zoom

zoom_algorithm = 'step'
zoom_rate = 1.4142135623730951
zoomlevel = 1.0
scale_x_base = 1.0
scale_y_base = 1.0
scale = (1.0, 1.0)
scale_min = 1e-05
scale_max = 10000.0
interpolation = 'basic'

# ---------------
# Panning
#
# If pan_coord is set to 'wcs', the pan position cannot exist in sexagesimal
# format in the config file.
#
pan = (1.0, 1.0)
pan_coord = 'data'
show_pan_position = False

# ---------------
# New Images

autocuts = 'override'
autozoom = 'on'
autocenter = 'on'
switchnew = True
raisenew = True
genthumb = True

# ---------------
# General 

# Number of images to keep in memory per channel (0 = unlimited)
# Same as numImages in general.cfg
numImages = 10

# Viewer will be focused when the mouse enters the window
enter_focus = False

# ---------------
# General - Listed here but has nothing to do with general.cfg

# Sort channel history ('loadtime' or 'alpha')
sort_order = 'alpha'

# ---------------
# Remember - When set to True, GUI remembers the settings for each image

profile_use_scale = False
profile_use_pan = False
profile_use_transform = False
profile_use_rotation = False
profile_use_cuts = False

# ---------------
# ICC Profiles

icc_output_profile = None
icc_output_intent = 'perceptual'
icc_proof_profile = None
icc_proof_intent = 'perceptual'
icc_black_point_compensation = False

# ---------------
# Miscellaneous

# Preference for fixed and sans fonts
# Font used for onscreen messages (zoom, etc.)
onscreen_ff = 'Sans Serif'

# Ensure that RGB images are properly flipped in Y on load
# (e.g., a JPEG image). Not applicable to FITS.
auto_orient = True

# Performance will be terrible if set to False, but doing so is useful
# for debugging the core widget and some special backends.
defer_redraw = True
defer_lagtime = 0.025

# To be deprecated
image_overlays = True

# anticipatory preloading of images may shorten wait time when
# switching between adjacent images
preload_images = False

