#
# WBrowser plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_WBrowser.cfg"

# Set to True to force offline doc browsing, otherwise download from RTD
offline_doc_only = False
