#
# Ruler plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Ruler.cfg"

# Show plumb lines or not
show_plumb = True

# Show end values or not (end values are shown in the UI boxes,
# regardless)
show_ends = True

# Color for a drawn ruler
rule_color = 'green'

# Color used when drawing
draw_color = 'cyan'

# Units of distance.  Choices are 'arcmin', 'degrees' or 'pixels';
# the first two require a working WCS in the image.
units = 'arcmin'

# The unit for showing the angle of the ruler.
# Choices are 'degrees' or 'radians'
angle_unit = 'degrees'

