#
# SAMP plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_SAMP.cfg"

SAMP_channel = 'Image'

# Default location is set by Ginga's viewer.
#cache_location = '/my/cache/path/'

default_connect = True

start_hub = True
