#
# Overlays plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Overlays.cfg"

# hi and lo colors
hi_color = 'palevioletred'
lo_color = 'blue'

# default values for hi and lo
hi_value = None
lo_value = None

# opacity of the bitmap overlays
opacity = 0.5

# possible values: 'horizontal', 'vertical', None (choose by aspect ratio
#  of plugin container)
orientation = None
