#
# WCSAxes plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_WCSAxes.cfg"

# Color, style, and width of grid lines
linecolor = 'cyan'
linestyle = 'solid'
linewidth = 1

# Alpha (opacity) of grid lines; 1=opaque, 0=transparent
alpha = 1

# Number of RA and DEC lines to draw
n_ra_lines = 10
n_dec_lines = 10

# Show RA and DEC values of grid lines
show_label = True

# Label font size
fontsize = 8

# Label offset from grid lines (pixels)
label_offset = 4
