#
# Cursor plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Cursor.cfg"

# Set to a particular font if you like one
font_name = 'fixed'

# Set to a point size if you have a preference
font_size = None
