#
# LineProfile plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_LineProfile.cfg"

# Default mark type. This can be change in the GUI.
mark_type = 'point'

# Properties of a point mark type. Radius can be change in Edit mode.
mark_radius = 10
mark_style='cross'

# Mark color.
mark_color = 'cyan'
