#
# PlotTable plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_PlotTable.cfg"

# matplotlib options for plotted line
linewidth = 1
linestyle = '-'
linecolor = 'blue'

# matplotlib options for markers
markersize = 6
markerwidth = 0.5
markerstyle = 'o'
markercolor = 'red'

# Show markers (can also be set in GUI)
show_marker = True

# Table column numbers to plot (can also be set in GUI).
# 0 = row indices, not the first table column
x_index = 1
y_index = 2

# Output file suffix (as accepted by matplotlib)
file_suffix = '.png'
