#
# Downloads plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Downloads.cfg"

# Automatically clear info about downloaded entries from the downloads
# pane when they complete
auto_clear_download = False

