#
# Catalogs plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Catalogs.cfg"

draw_type = 'circle'
select_color = 'skyblue'
color_outline = 'aquamarine'
click_radius = 10
