#
# SaveImage plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_SaveImage.cfg"

# Default output parameters. Can also be changed in the GUI.
output_directory = '.'
output_suffix = 'ginga'

# Include channel name in the suffix.
# If False, only output_suffix is used regardless of channel.
include_chname = True

# Clobber existing output files or not
clobber = False

# Only list modified images from the channel
modified_only = True

# Maximum mosaic size to allow for writing out.
# This is useful to prevent super large mosaic from being written.
# Default is 10k x 10k
max_mosaic_size = 1e8

# Maximum number of rows that will turn off auto column resizing (for speed)
max_rows_for_col_resize = 5000
