#
# TVMask plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_TVMask.cfg"

# Mask color -- Any color name accepted by Ginga
maskcolor = 'green'

# Mask alpha (transparency) -- 0=transparent, 1=opaque
maskalpha = 0.5

# Highlighted mask color and alpha
hlcolor = 'white'
hlalpha = 1.0
