#
# RC (Remote Control) plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_RC.cfg"

# port we should bind to
bind_port = 9000

# host we should bind to (use '' to bind to all interfaces)
bind_host = 'localhost'

# start server when plugin starts?
start_server = True
