#
# Header plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Header.cfg"

# Sort header
sortable = True
#sortable = False

# If True, color every other row in alternating shades to improve
# readability of long tables
color_alternate_rows = True

# Maximum number of rows that will turn off auto column resizing (for speed)
max_rows_for_col_resize = 5000
