#
# PixTable plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_PixTable.cfg"

# Default font
font = 'fixed'

# Default font size
fontsize = 12

# default size for mark point radius
mark_radius = 10

# style of point to draw
mark_style = 'cross'

# color of non-selected marks
mark_color = 'purple'

# color of selected mark
select_color = 'cyan'

# whether to update the pixel table when moving a mark around
drag_update = True
