name: CI

on:
  push:
  pull_request:
  schedule:
    # Weekly Monday 6AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 6 * * 1'

# Cancel duplicate builds
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pep_and_audit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Lint with flake8
      run: |
        python -m pip install --upgrade pip flake8
        flake8 ginga --count
    # Make sure that packaging will work
    - name: PEP 517 build
      run: |
        python -m pip install --upgrade setuptools build twine
        python -m build --sdist .
        twine check dist/*
    - name: Security audit
      run: |
        python -m pip install --upgrade bandit
        bandit -r . -c .bandit.yaml

  multi_oses:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install PyQt5 scipy photutils
        python -m pip install -e .[test]
    - name: Install Qt
      uses: jurplel/install-qt-action@c650b0c3306c1c46739f40ff0fe418af8c4ba02e  # v3.2.0
    - name: Run tests
      run: pytest --pyargs ginga doc -sv

  older_deps_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install PyQt5 numpy==1.21 astropy==5.0
        python -m pip install -e .[test]
    - name: Install Qt
      uses: jurplel/install-qt-action@c650b0c3306c1c46739f40ff0fe418af8c4ba02e  # v3.2.0
    - name: Run tests
      run: pytest --pyargs ginga doc -sv

  dev_deps_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install PyQt5 matplotlib
        python -m pip install git+https://github.com/astropy/astropy.git@main#egg=astropy
        python -m pip install -e .[test]
    - name: Install Qt
      uses: jurplel/install-qt-action@c650b0c3306c1c46739f40ff0fe418af8c4ba02e  # v3.2.0
    - name: Run tests
      run: pytest --pyargs ginga doc -sv

  conda_linux_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install and build
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        $CONDA/bin/conda update -n base -c defaults conda
        $CONDA/bin/conda install pip setuptools setuptools_scm
        $CONDA/bin/conda install qtpy pyqt matplotlib
        $CONDA/bin/conda install attrs "astropy>=5.2" pytest-astropy -c conda-forge
        $CONDA/bin/pip install -e .
    - name: Run tests
      run: $CONDA/bin/pytest --pyargs ginga doc -sv
