name: rc-testing

on:
  workflow_dispatch:

# Cancel duplicate builds
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          # Basic tests but with RC
          - name: Test with Python 3.11 on Linux
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-predeps
            toxposargs: -sv
          - name: Test with Python 3.12 on OSX
            os: macos-latest
            python: '3.12'
            toxenv: py312-test-predeps
            toxposargs: -sv
          - name: Test with Python 3.13 on Windows
            os: windows-latest
            python: '3.13'
            toxenv: py313-test-predeps
            toxposargs: -sv

    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
