name: rc-testing

on:
  workflow_dispatch:
  # REMOVE ME BEFORE MERGE
  pull_request:

# Cancel duplicate builds
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  multi_oses:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install PyQt5
        python -m pip install numpy scipy astropy photutils --pre
        python -m pip install -e .[test]
    - name: Install Qt
      uses: jurplel/install-qt-action@88f3374475d094ce56ca6a7cc41cfda5a6ec093c  # v2.13.0
    - name: Run tests
      run: pytest --pyargs ginga doc -sv
